{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Building Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'appointments/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <div class="logo">FixHome</div>
        <div class="header-title">Welcome to the Building Management System</div>
        <nav>
            {% if role == 'tenant' %} {% endif %}
            {% if role == 'admin' %} {% endif %}
            <form action="{% url 'logout' %}" method="post" style="display: inline; background-color: transparent">
                {% csrf_token %}
                <button type="submit" class="btn-futuristic" style="border: none; cursor: pointer;">
                    Log Out
                </button>
            </form>
        </nav>
    </header>
    {% endblock %}

    <!-- Contenedor principal -->
    <div class="main-content">
        <main>
            <div>
                {% if role == 'admin' %}
                    <h1 class="page-title">Admin Dashboard</h1>
                    <p class="page-description">Welcome, Admin! Here you can manage the entire system.</p>
                    <button class="btn-futuristic" onclick="location.href='{% url 'appointment_list' %}'">Go to Appointments</button>
                    <button class="btn-futuristic" onclick="location.href='{% url 'notifications' %}'">Go to my Notifications</button>
                    <button class="btn-futuristic" onclick="location.href='{% url 'information' %}'">About Us</button>
                {% endif %}
                    
                {% if role == 'tenant' %}
                    <h1 class="page-title">Tenant Dashboard</h1>
                    <p class="page-description">Welcome, Tenant! Here you can manage the entire system.</p>
                    <button class="btn-futuristic" onclick="location.href='{% url 'appointment_list' %}'">Go to Appointments</button>
                    <button class="btn-futuristic" onclick="location.href='{% url 'notifications' %}'">Go to my Notifications</button>
                    <button class="btn-futuristic" onclick="location.href='{% url 'create_message' %}'">Create Message</button>
                    <button class="btn-futuristic" onclick="location.href='{% url 'history' %}'">Go to my History</button>  
                    <button class="btn-futuristic" onclick="location.href='{% url 'information' %}'">About Us</button>
                {% endif %}
            </div>
            {% block extra_content %}
            {% endblock %}
        </main>
    </div>

    <!-- Pie de página -->
    <footer>
        <div class="footer-container">
            <div class="footer-title">FixHome</div>
            <div class="footer-content">
                <p>Creators: <strong>Montserrat Calva and Nele Dumler</strong></p>
                <p>Contact: <a href="mailto:contacto@ejemplo.com">montserrat.calva.alatorre@tha.de    nele.dumler@tha.de</a></p>
                <p>Follow us in:
                    <a href="https://www.linkedin.com/in/fixhome-digibau-329435344/" target="_blank">LinkedIn</a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>




