{% extends 'base.html' %}

{% block title %}Appointment List - Building Management System{% endblock %}

{% block extra_content %}
    <h2 class="page-title">Appointment List</h2>
    <p class="page-description">Here is the list of all appointments:</p>

    <div class="appointment-container">
        {% if appointments %}
        <table class="appointment-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Estimated Duration</th> <!-- Nueva columna -->
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.repair_type }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>
                        {% if appointment.estimated_duration %}
                            {{ appointment.estimated_duration }}
                        {% else %}
                            Not specified
                        {% endif %}
                    </td>
                    <td>{{ appointment.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="no-appointments">No appointments found.</p>
        {% endif %}
    </div>
{% endblock %}
