{% extends 'base.html' %}

{% block extra_content %}
 <h1 class="page-title">Create a Message</h1>
    <p class="page-description">Write your notification and upload an image if necessary.</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="content" rows="7" placeholder="Write your message here..." style="width: 80%; padding: 10px; margin-bottom: 10px;"></textarea>
        <br>
        <input type="file" name="image" accept="image/*" style="margin-bottom: 10px;">
        <!-- Campo oculto para el creador del mensaje -->
        <input type="hidden" name="created_by" value="{{ request.user.id }}">
        <br>
        <button type="submit" class="btn-futuristic">Send</button>
    </form>
{% endblock %}