{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Appointment</title>
    <link rel="stylesheet" href="{% static 'appointments/styles.css' %}">
</head>
        
<body>
<header class="admin-header">
        <h1>Admin Panel</h1>
        <nav>
            <a href="{% url 'logout' %}" class="btn-logout">Log Out</a>
            <a href="{% url 'home' %}" class="btn-logout">Home</a>
            
        </nav>
    </header>

<h1>Create a Repair Appointment</h1>
<form method="POST">
    {% csrf_token %}
    <label for="repair_type">Type of Repair</label>
    <select id="repair_type" name="repair_type">
        <option value="plumbing">Plumbing</option>
        <option value="electricity">Electricity</option>
        <option value="carpentry">Carpentry</option>
        <option value="other">Other</option>
    </select>

    <label for="date">Date</label>
    <input type="date" id="date" name="date">

    <label for="time">Time</label>
    <input type="time" id="time" name="time">

    <label for="description">Description</label>
    <textarea id="description" name="description" rows="4"></textarea>

    <button type="submit">Submit</button>
</form>
</body>
</html>


