{% extends 'base.html' %}

{% block title %}Home - Building Management System{% endblock %}
{% block extra_content %}
<section class="history-section">
    <h2>Welcome to FixHome</h2>
    <p>
        At FixHome, our goal is to simplify building management and enhance communication between administrators and residents. This platform is designed to provide efficient solutions, streamlining tasks and creating a direct connection between those who need assistance and those who provide it.
    </p>
    <p>
        We believe in innovation and continuous improvement to ensure a practical, reliable, and accessible experience. Thank you for trusting us to make managing your home easier and safer.
    </p>
</section>
{% endblock %}
