{% extends 'base.html' %}

{% block title %}About Us - Building Management System{% endblock %}

{% block extra_content %}
<section class="information-section">
    <h1>About Us</h1>
    <p>
        We are two female students in our early 20s, currently pursuing a degree in Digitaler Baumeister. Our shared interest in the intersection of technology and building management inspired us to develop this project as part of our academic journey.
    </p>
    <p>
       This platform reflects our passion for creating intelligent systems and our desire to explore innovative solutions that simplify everyday tasks for users. In the future, we aim to contribute to the development of smart buildings and systems that enhance efficiency and improve lives.
    </p>
    <p>
        If you have any questions or need support, feel free to contact us via email or social media.
    </p>

</section>
{% endblock %}